<div class="tab-pane fade{% if active %} show active{% endif %}" id="{{ page_title_slug }}" role="tabpanel" aria-labelledby="{{ page_title_slug }}-tab">
    <h3 class="mt-3">{{ page_title }}</h3>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column" role="tablist">
                {% for subtab_title, subtab_content in tab_data %}
                    <li class="nav-item">
                        <a class="nav-link{% if forloop.first %} active{% endif %}"
                           id="{{ page_title_slug }}-subtab-{{ forloop.counter }}-tab"
                           data-toggle="pill"
                           href="#{{ page_title_slug }}-subtab-{{ forloop.counter }}"
                           role="tab"
                           aria-controls="{{ page_title_slug }}-subtab-{{ forloop.counter }}"
                           aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                            {{ subtab_title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content mt-3">
                {% for subtab_title, subtab_content in tab_data %}
                    <div class="tab-pane fade{% if forloop.first %} show active{% endif %}"
                         id="{{ page_title_slug }}-subtab-{{ forloop.counter }}"
                         role="tabpanel"
                         aria-labelledby="{{ page_title_slug }}-subtab-{{ forloop.counter }}-tab">
                        <p>{{ subtab_content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
